/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
ul li input[type=text] {
  display: none;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__img {
  width: 100%;
}
.header__link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .header {
    text-align: center;
  }

}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.main__new-task-input {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.main__new-task-wrap {
  display: flex;
}
ul {
  margin: 0;
  padding: 0px;
}
li, h3 {
  list-style: none;
}
input,button{
  outline: none;
}
.main__btn,
.delete-btn,
.edit-btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.main__btn:hover,
.delete-btn:hover,
.edit-btn:hover {
  color: #3a3a3a;
}
/* Heading */
.main__h3{
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.main__task-input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.main__task-input:focus {
  color: #333;
}

/* New Task */
.main__h3 {
  display: block;
  margin: 0 0 20px;
}
#new-task {
  width: 318px;
}
#add-btn:hover {
  color: #0fc57c;
}

/* Task list */
.main__tasks-item{
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__incomplete-tasks-item,
.main__completed-tasks-item{
  vertical-align: middle;
}

.main__task-input {
  margin: 0 10px;
}
.main__task-name {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.main__task-input{
    width: 226px;
}
/* li > button .delete-btn:hover {
  color: #cf2323;
} */

.main__delete-btn-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.main__delete-btn-img:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed-tasks-label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.main__edit-mode .main__task-input{
  display: inline-block;
  width: 224px;
}
.main__edit-mode .main__task-name {
  display: none;
}